


betterlockscreen/ 
clangd/
coc/
codeblocks/
bpytop/
dconf/
yay/
Bitwarden/
Code/
gh/
discord/
Electron/
flameshot/
guake/
htop/
Kitware/
libvirt/
mathplotlib/
microsoft-edge/
neofetch/
obsidian/
procps/
pusle/
qBittorrent/
ranger/
rclone/
spotify/
styluslabs/
systemd/
thunar/
ttyper/
vivaldi/
vlc/
xcfe4/
xournalpp/


